*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

/* Intro Area */
#IntroArea {
    height: 100vh;
    display: flex;
    flex-direction: row;
    margin: 0;
}

#leftsideIntro {
    background-color: black;
    flex: 1 1 50vw;
    width: 50vw;
    color: gray;
}

#p1 {
    margin-top: 55vh;
    margin-left: 3vw;
    margin-bottom: 0;
    font-family: "Barlow Condensed", Arial, sans-serif;
    font-weight: 400;
    color: #b0b0b0
}

#p2 {
    color: #b0b0b0;
    margin-left: 3vw;
    margin-top: .5vh;
    font-family: "Barlow Condensed", Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 0.05em;
}

#leftsideIntro hr {
    color: gray;
    width: 4vw;
    margin-top: 2vh;
    margin-left: 3vw;
    margin-bottom: 0;
}

#leftsideIntro h1 {
    color: white;
    margin-top: 0vh;
    margin-left: 3vw;
    font-family: "Barlow Condensed", Arial, sans-serif;
    font-size: 8rem;
    font-weight: 900;
    line-height: .9;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    margin-bottom: 0;
}

#rightsideIntro {
    background-image: url(images/profilepic.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1 1 50vw;
    width: 50vw;
}

#leftBar a {
    position: fixed;
    width: 50vw;
    color: black;
    height: 5vh;
    margin-top: 0;
    padding-left: 3vw;
    padding-top: 1.5vh;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50vw;
    margin-top: 0;
    height: 5vh;
}

.navbar a {
    margin-left: 5vw;
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 5px black;
    font-family: "JetBrains Mono", monospace;

}

.navbar.scrolled {
    background-color: white;
    border-bottom: 1px solid black;
}

.navbar.scrolled a {
    color: black;
    text-shadow: none;
}

#leftBar.scrolled a {
    background-color: white;
    border-bottom: 1px solid black;
    text-decoration: none;
}

.socials {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 40vw;
    height: auto;
    margin-top: 65vh;
    margin-left: 7vw;

}

.socials a,
.socials p {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    margin: 0;
    margin-bottom: 1rem;
    font-family: "JetBrains Mono", monospace;
}

.socials a {
    display: block;
    font-size: 2rem;
    font-family: "Jost", sans-serif;
}

hr {
    width: 70vw;
}

/* Education */

#Education {
    height: 55vh;
    margin: 0;
}

.topRows {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10vh;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 5vw;
    gap: 1rem;
    white-space: nowrap;
}
.topRows p {
    font-family: "Barlow Condensed", Arial, sans-serif;
}

.edu {
    margin-left: 33vw;
    color: black;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-bottom: 15vh;
}

.edu a {
    text-decoration: none;
    color: black;
    display: block;
}

.vertical-line {
    margin-top: -2vh;
    width: 1px;
    background-color: gray;
    height: 20vh;
}

#Education hr {
    width: 80vw;
    margin: 0 auto;
}

/* Skills */

#Skills hr {
    width: 80vw;
    margin: 0 auto;
}

#Skills .topRows {
    margin-top: 6vh;
}


#SkillList {
    margin-left: 10vw;
    width: 80vw;
    display: flex;
    flex-direction: row;
}

#skillbox1,
#skillbox3 {
    flex: 1;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
}

#skillbox2 {
    flex: 2;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
}

#TechGrid:last-child {
    padding-bottom: 5vh;
}

#TechGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#skillbox3 {
    border-right: 1px solid gray;
}

#skillbox1 p,
#skillbox2 p,
#skillbox3 p {
    margin-left: 2vw;
}

.SkillTitle {
    color: red;
}

/*Projects */

#Projects hr {
    width: 80vw;
    margin: 0 auto;
}

#Projects .topRows {
    margin-bottom: 0vh;
}
#FavP {
    font-size: large;
    margin-left: 12vw;
}

#ProjectBox {
    width: 80vw;
    display: flex;
    flex-direction: column;
}

#HeavyWake,
#GymTracker,
#CurrentProject {
    width: 80vw;
    display: flex;
    margin-left: 10vw;
}

.ProjectDate,
.MainProject,
.TechStack {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
}

#CurrentProject .ProjectDate, #CurrentProject .MainProject, #CurrentProject .TechStack {
    border-bottom: none;
    border-left: 1px solid gray;
}

.MainProject h1, .ProjectDescription {
    margin-left: 2vw;
}

.ProjectDate {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MainProject {
    flex: 6;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.TechStack h1 {
    margin: 0;
    margin-top: 2vh;
}
.TechStack {
    flex: 3;
}
.TechStack > div {
    margin-left: 2vw;
}
.ProjectDate p {
    margin-top: 2vw;
}

#Projects h1 {
    font-size: large;
}

#MoreProjects {
    display:block;
    width: 15vw;
    text-align: center;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    margin-top: 5vh;
    margin-left: 10vw;
}



/*About Me*/
#AboutMe .topRows {
    margin-bottom: 5vh;
}

#AboutMe hr {
    width: 80vw;
    margin: 0 auto;
}

#AboutMain {
    margin-left: 10vw;
    width: 80vw;
    display: flex;
    flex-direction: row;
}

#AboutMain h1 {
    margin-left: 3vw;
}

#AboutMain h2 {
    margin-left: 3vw;
}

#Hobbies,
#Contact {
    flex: 1;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
}

#Hobbies p,
#Contact p {
    margin-left: 3vw;
}

#AboutMain h1 {
    margin-bottom: 3vw;
}

#Contact {
    border-right: 1px solid gray;
}



/*Footer*/
#footer hr {
    width: 80vw;
    margin: 0 auto;
}

#footer .topRows {
    margin-bottom: 0;
}

#Imp {
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    justify-content: space-between;
    gap: 10rem;
}

#footer {
    margin-top: 10vh;
    background-color: black;
    color: white;
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}


#footer a {
    margin-left: 15vw;
    font-size: x-large;
    text-decoration: none;
    color: white;
}

#footer p {
    margin-left: 40vw;
    color: gray;
}